:root 
{
    --link-color: #fff;

}

body{
  

            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-style: normal;
}
.a:hover {
    background-color: yellow;
}
.global-header {
    background-color: #FFFFFF;}


.global-header.main-nav a .global-header.main-nav a:visited {
    color: var(--link-color);
}

.global-header.main-nav li {
    list-style-type: none;
}

.global-header.main-nav a .active {

}