:root 
{--heading-font-family:'Raleway'.sans-serif;
    --text-font-family:'Roboto'.sans-serif;
}
.global-header{
    background-color:#fff;

}
   
.h3{
    color:#4d5ae5;
    font-weight:700px;
    font-size:18px;
    line-height:21px;
    --heading-font-family:sans-serif;
}
.p{
    color:#2e2f42;
    font-weight:700px;
    font-size:18px;
    line-height:21px;
    --heading-font-family:sans-serif;
}
.global-header .main-nav a,
.global-header .main-nav a:visited{
    color:var(--link-color)

}
.contacts{
    
    line-height: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.pointer {
    cursor: pointer;
}