:root 
{--heading-font-family:'Raleway'.sans-serif;
    --text-font-family:'Roboto'.sans-serif;
}
.global-header{
    background-color:#fff;

}
   
.webstudio .web{
    color:#4d5ae5;
    font-weight:700px;
    font-size:18px;
    line-height:21px;
    --heading-font-family:sans-serif;
}
.webstudio .studio{
    color:#2e2f42;
    font-weight:700px;
    font-size:18px;
    line-height:21px;
    --heading-font-family:sans-serif;
}
.global-header .main-nav a,
.global-header .main-nav a:visited{
    color:var(--link-color)

}

